<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
     <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <a href="http://127.0.0.1:5503/page1.html"><button class="btn btn-outline-danger" type="button">Log-Out</button></a>
    </form>
  </nav>
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">username</th>
            <th scope="col">authorname</th>
            <th scope="col">bookname</th>
            <th scope="col">genre</th>
            <th scope="col">publisher</th>
            <th scope="col">publicationyear</th>
            <th scope="col">bookreview</th>
            <th scope="col">Delete</th>


          </tr>
        </thead>
        <tbody>
            <%dataList.forEach(data =>{%>
                <tr>
                    <td><%= data._id %></td>
                    <td><%= data.username %></td>
                    <td><%= data.authorname %></td>
                    <td><%= data.bookname %></td>
                    <td><%= data.genre %></td>
                    <td><%= data.publisher %></td>
                    <td><%= data.publicationyear %></td>
                    <td><%= data.bookreview %></td>
                    <td>
                      <a href="/delete/<%= data._id%>"><button class="btn btn-outline-danger">Delete</button></a>                   </td>
                      

                  </tr>
            <%})%>
          
        </tbody>
      </table>
      <script src="../formsDbConnectivity.js"></script>
</body>
</html>